<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="connection.url">jdbc:postgresql://localhost:5432/webforum</property>

        <property name="connection.username">paul</property>

        <property name="connection.password">postgres</property>

        <property name="show_sql">true</property>

        <property name="connection.pool_size">10</property>

        <mapping class="com.javaprac.model.User" />
        <mapping class="com.javaprac.model.Discussion" />
        <mapping class="com.javaprac.model.Message" />
        <mapping class="com.javaprac.model.Section" />

    </session-factory>

</hibernate-configuration>